$wrapper-width: 100%;
$section-margin: 5px;
$max-width: 1200px;
$transition: all 0.3s ease-in-out;
$fast-transition: all 0.15s ease-in-out;
$animation-time:  5s;
$gap: 15px;
$inner-padding: (
  mobile: 30px,
  screen: 25px 35px,
);
$colors: (
  custom-white: #FDFDFC,
  primary: #000000,
  custom-pink: #e295bd,
  custom-pink-gray: #1c1718,
  custom-blue: #2200e2,
  custom-yellow: #fef073,
  custom-gray: #4a4a4a,
  custom-dark-gray: #18181a,
  custom-yellow-gray: #181612,
  custom-purple: #8985E0,
  custom-red: #a50808
);
$border-radius: (
  mobile: 40px,
  screen: 70px,
);
$font-weights: (
  thin: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
$font-sizes: (
  h1: clamp(60px, 2.5vw, 130px),
  h2: clamp(50px, 2.5vw, 100px),
  h3: clamp(40px, 2.5vw, 70px),
  h4: clamp(30px, 1.5vw, 60px),
  p: clamp(14px, 1.5vw, 14px),
  introductionIcon: clamp(12px, 1.5vw, 20px),
  serviceIcon: clamp(37px, 1.5vw, 55px),
  small: clamp(10px, 1.5vw, 12px),
  services: clamp(14px, 1.5vw, 16px)
);
$icon-sizes: (
  mobile: 30px,
  screen: 50px
);

@function iconSizes($icon-size-name) {
  @return map-get($icon-sizes, $icon-size-name);
}

@function innerPadding($inner-padding-name) {
  @return map-get($inner-padding, $inner-padding-name);
}

@function fontSize($font-size-name) {
  @return map-get($font-sizes, $font-size-name);
}

@function borderRadius($border-name) {
  @return map-get($border-radius, $border-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function fontWeight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin Flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin media-screen {
  @media (min-width: 850px) {
    @content;
  }
}
