.GetInTouch {
  width: 100%;
  .coverContainer {
    transition: $transition;
    @include Flex(column, start, center);
    margin: $section-margin;
    background-color: color(custom-yellow-gray);
    border-radius: borderRadius(mobile);
    color: color(custom-yellow);

    .inner-padding {
      .name {
        font-size: fontSize(small);
        font-weight: fontWeight(regular);
        letter-spacing: 0.05em;
      }

      .textContainer {
        margin: 30px 0;
        max-width: 90%;
        font-weight: fontWeight(regular);
        font-size: fontSize(h2);

        .title {
          margin-bottom: 20px;
          max-width: 90%;
        }
      }

      .details {
        @include Flex(column, end, center);
        width: 100%;
        flex: 1;
        .links {
          width: 100%;
          margin-bottom: 20px;

          .contacts {
            width: 100%;
            @include Flex(column, center, center);

            .contact {
              width: 100%;
              flex: 1;
            }
          }
        }
      }

      .socials {
        width: 100%;
        @include Flex(row, center, center);

        .social {
          flex: 1;
        }
      }

      .circle {
        margin-top: 30px;
        width: 100%;
        @include Flex(row, center, end);

        .text {
          font-size: fontSize(regular);
          font-weight: fontWeight(thin);
        }

        .icon {
          margin-right: 10px;
          height: iconSizes(mobile);

          svg {
            height: 100%;
            fill: color(custom-yellow);
          }
        }
      }
    }

    &:hover {
      transform: scale(0.99);
    }
  }
}
