.IntroductionSection {
  cursor: pointer;
  overflow: hidden;

  .servicesContainer {
    flex: 1;
    aspect-ratio: 1 / 0.8;
    margin: $section-margin;

    @include Flex(column, center, center);
    overflow: hidden;

    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: color(custom-blue);

      .inner-padding {
        @include Flex(column, start, space-between);

        .name {
          font-size: calc(fontSize(p) + 3px);
          font-weight: fontWeight(regular);
        }

        .running-text {
          opacity: 1;
          overflow: hidden;
          white-space: nowrap;
          font-size: fontSize(h1);
          animation: runningTextAnimation $animation-time linear infinite;
          font-weight: fontWeight(semibold);
          transition: $transition;
        }

        .details {
          width: 100%;
          @include Flex(row, center, space-between);

          .imgContainer {
            width: iconSizes(mobile);

            svg {
              fill: white;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .figures {
      animation: rotate calc($animation-time * 2) linear infinite;
      position: absolute;
      opacity: 0.6;
      width: 180px;
      height: 180px;
      transition: $transition;

      .figureImg {
        width: 30%;
        animation: rotate calc($animation-time * 2) linear infinite;
        transition: $transition;

        svg {
          fill: white;
          width: 100%;
          object-fit: cover;
        }
      }

      .triangleImg {
        position: absolute;
        width: 40%;
        margin-left: 55px;
        margin-top: -15px;
      }
      .squareImg {
        position: absolute;
        margin-left: -5px;
        margin-top: 125px;
      }
      .circleImg {
        position: absolute;
        margin-left: 120px;
        margin-top: 120px;
      }
    }

    &:hover {
      .container-introduction {
        transform: scale(0.99);
        .inner-padding-introduction {
          .running-text {
            opacity: 0.3;
          }
        }
      }

      .figures {
        opacity: 1;
        .figureImg {
          width: 37%;
        }

        .triangleImg {
          width: 47%;
          svg {
            fill: color(custom-yellow);
          }
        }
        .squareImg {
          svg {
            fill: white;
          }
        }
        .circleImg {
          svg {
            fill: color(custom-pink);
          }
        }
      }
    }
  }

  .secondSection {
    cursor: pointer;
    flex: 1;
    .fastLinks {
      @include Flex(row, center, center);
      padding: 0 $section-margin;
      width: 100%;
      .lastProjectContainer {
        transition: $transition;
        flex: 1;
        aspect-ratio: 1 / 1;
        border-radius: 999px;
        color: black;

        @include Flex(column, center, center);
        overflow: hidden;

        .container {
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-color: color(custom-white);

          .inner-padding {
            @include Flex(column, center, center);

            .running-text {
              display: none;
              opacity: 0;
              overflow: hidden;
              white-space: nowrap;
              font-size: fontSize(h1);
              animation: runningTextAnimation $animation-time linear infinite;
              font-weight: fontWeight(semibold);
              transition: $transition;
            }

            .details {
              transition: $transition;
              width: 100%;
              @include Flex(column, center, center);

              .title {
                font-weight: fontWeight(semibold);
              }

              .imgContainer {
                width: iconSizes(mobile) + 10px;
                svg {
                  fill: black;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .clickText {
          opacity: 0;
          position: absolute;
          font-weight: fontWeight(semibold);
          font-size: fontSize(h2);
          transition: $transition;
        }

        &:hover {
          transform: scale(0.99);
          .container {
            .inner-padding {
              .details {
                opacity: 0;
                transform: scale(0.5);
              }
            }
          }
          .clickText {
            opacity: 0.5;
            position: absolute;
            font-weight: fontWeight(semibold);
            font-size: fontSize(h2);
            transform: scale(1.1);
          }
        }
      }

      .aboutUsContainer {
        transition: $transition;
        cursor: pointer;
        margin: $section-margin;
        flex: 1;
        aspect-ratio: 1 / 1;
        border-radius: 999px;
        color: white;
        transition: $transition;

        @include Flex(column, center, center);
        overflow: hidden;

        .container {
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-color: color(custom-dark-gray);

          .inner-padding {
            @include Flex(column, center, center);
            transition: $transition;
            .running-text {
              display: none;
              opacity: 0;
              overflow: hidden;
              white-space: nowrap;
              font-size: fontSize(h1);
              animation: runningTextAnimation $animation-time linear infinite;
              font-weight: fontWeight(semibold);
              transition: $transition;
            }

            .details {
              width: 100%;
              @include Flex(column, center, center);
              transition: $transition;

              .title {
                font-weight: fontWeight(regular);
              }

              .imgContainer {
                width: iconSizes(mobile);
                margin-bottom: 5px;
                svg {
                  fill: white;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .clickText {
          opacity: 0;
          position: absolute;
          font-weight: fontWeight(semibold);
          font-size: fontSize(h2);
          transition: $transition;
        }

        &:hover {
          transform: scale(0.99);
          .container {
            .inner-padding {
              .details {
                opacity: 0;
                transform: scale(0.5);
              }
            }
          }
          .clickText {
            opacity: 0.5;
            position: absolute;
            font-weight: fontWeight(regular);
            font-size: fontSize(h2);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .contactUsContainer {
    transition: $transition;
    cursor: pointer;
    margin: $section-margin;
    flex: 1;
    aspect-ratio: 1 / 0.5;
    color: black;

    @include Flex(column, center, center);
    overflow: hidden;

    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: color(custom-yellow);

      .inner-padding {
        @include Flex(column, center, center);

        .running-text {
          display: none;
          opacity: 0;
          overflow: hidden;
          white-space: nowrap;
          font-size: fontSize(h1);
          animation: runningTextAnimation $animation-time linear infinite;
          font-weight: fontWeight(semibold);
          transition: $transition;
        }

        .details {
        transition: $transition;
          width: 100%;
          @include Flex(column, center, center);

          .title {
            font-weight: fontWeight(bold);
          }

          .imgContainer {
            width: iconSizes(mobile);
            margin-bottom: 5px;

            svg {
              fill: black;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .clickText {
      opacity: 0;
      position: absolute;
      font-weight: fontWeight(semibold);
      font-size: fontSize(h1);
      transition: $transition;
    }

    &:hover {
      transform: scale(0.99);
      .container {
        .inner-padding {
          .details {
            opacity: 0;
            transform: scale(0.5);
          }
        }
      }
      .clickText {
        opacity: 0.5;
        position: absolute;
        font-weight: fontWeight(bold);
        font-size: fontSize(h1);
        transform: scale(1.1);
      }
    }
  }
}

@keyframes runningTextAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
