.TextareaContainer {
  margin: $section-margin;
  height: 100%;
  transition: $transition;
  .cover {
    background-color: color(custom-yellow-gray);
    width: 100%;
    flex: 1;
    border-radius: borderRadius(mobile);
    padding: 20px 25px;
    height: 100%;
    textarea {
      height: 100%;
      resize: none;
      font-family: "Inter", sans-serif;
      overflow-y: auto;
      color: color(custom-yellow);
      font-size: fontSize(p);
      min-width: 100%;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        color: color(custom-yellow);
      }
    }

    &.error {
      border: 1.5px solid color(custom-yellow);
      animation: pulse 1s ease-in-out 0s 2.5;
    }
  }

  &:hover {
    transform: scale(0.99);
  }
}
