.WhoWeAre {
  width: 100%;
  .coverContainer {
    overflow: hidden;
    margin: calc($section-margin * 2) $section-margin;
    transition: $transition;
    @include Flex(column, start, start);
    background-color: color(custom-pink-gray);
    color: color(custom-pink);
    border-radius: borderRadius(mobile);

    .inner-padding {
      position: relative;
      .wrapper {
        .title {
          text-align: center;
          width: 100%;
          font-size: fontSize(h2);
          font-weight: fontWeight(regular);
        }

        .article {
          font-size: calc(fontSize(p) + 5px);
          font-weight: fontWeight(thin);
          width: 300px;
          line-height: 1.5; 
          // margin: 80px 0 0 20px;
          margin-top: 40px;
        }
      }
    }
    .allCircles {
      aspect-ratio: 1 / 0.9;
      @include Flex(column, center, end);
      transform: rotate(-30deg);
      gap: 10px;
      width: 100%;
      .firstCircleLine {
        margin-right: 130px;
      }

      .circleLine {
        gap: 10px;
        @include Flex(row, center, center);
        .circle {
          @include Flex(row, center, center);
          aspect-ratio: 1 / 1;
          width: 90px;
          border-radius: 999px;
          border: 2px solid color(custom-pink);
          transform: rotate(+30deg);

          svg {
            fill: color(custom-pink);
            width: 55%;
          }
        }
      }
    }

    &:hover {
      transform: scale(0.99);
    }
  }
}
