@import "config";
@import "responsive";
@import "contactForm";
@import "getInTouch";
@import "logo";
@import "whatWeDo";
@import "whoWeAre";
@import "services";
@import "lastProject";
@import "introduction";

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  color: white;
  @include Flex(column, center, center);
  width: 100%;
  background-color: color(primary);
  font-weight: fontWeight(regular);
  font-size: fontSize(p);
  box-sizing: 0;
  margin: 0;
  padding: 0;
  line-height: 1;

  #root {
    max-width: $max-width;
    width: $wrapper-width;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    section {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}
