@import "config";
@import "responsive";
@import "contactForm";
@import "getInTouch";
@import "logo";
@import "whatWeDo";
@import "whoWeAre";
@import "services";
@import "lastProject";
@import "introduction";

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  color: white;
  @include Flex(column, center, center);
  width: 100%;
  background-color: color(primary);
  font-weight: fontWeight(regular);
  font-size: fontSize(p);
  line-height: 1;

  #root {
    max-width: $max-width;
    width: $wrapper-width;

    section {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

.container {
  border-radius: borderRadius(mobile);
  transition: $transition;
}

.inner-padding {
  padding: innerPadding(mobile);
  width: 100%;
  height: 100%;
}

.svg-icon {
  fill: red;
}
